.main-viewer {
  display: flex;
  width: 100vw;
  height: calc(100vh - 80px);
}

.file-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  /* max-width: 300px; */
  overflow-y: scroll;
  height: auto;
  padding-top: 10px;
}

@media only screen and (min-width: 768px) {
  .file-container {
    min-width: 270px;
  }
}

@media only screen and (max-width: 400px) {
  .file-container {
    max-width: 120px;
    margin-left: 0px;
  }
}

.thumbnail-filename {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* width: 55px; */
  max-width: 80%;
  font-size: 12px;
  display: inline-block;
  /* font-family: 'Courier New', monospace; */
  /* font-weight: bold; */
}

#viewer-image-name {
  white-space: nowrap;
  max-width: 100px;
  margin-left: 10px;
  font-size: 18px;
  font-family: 'Courier New', monospace;
  font-weight: bold;
}

.viewer-container {
  /* flex: 75%; */
  background-color: rgb(218, 235, 250);
  flex-grow: 1;
  text-align: center;

  /* max-width: 75vw; */
  overflow: hidden;
}

.viewer-container p {
  text-align: center;
  font-size: 25px;
  color: #333;
  margin: 20px 0;
}

.file-actions {
  display: flex;
  position: relative;
  /* align-items: baseline; */
  padding: 0px 5px;
}

.thumbnail-container:hover {
  background-color: #d3d1d1;
}

.thumbnail-container {
  height: fit-content;
  background-color: #e7e7e9;
  border-radius: 5px;
  margin-bottom: 16px;
  max-width: 120px;
  position: relative;
}

.thumbnail-select-overlay {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgb(42, 42, 42);
  opacity: 0.6;
  position: absolute;
  z-index: 100;
}

.thumbnail-select {
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 15px;
  height: 15px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
}
.thumbnail-select.green {
  background-color: rgb(73, 208, 0);
  border: 1px solid green;
}


.thumbnail {
  margin: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #333;
  object-fit: cover;
  cursor: pointer;
  white-space: nowrap;
  height: 100px;
  width: 100px;
}

.file-explorer {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  /* transition: transform 0.5s ease-out; */
  position: relative;
}

.file-explorer-collapsed {
  transform: translateX(-270px);
  transition: transform 0.5s ease-out;
  position: fixed;
  z-index: 1;
}

.upload-button {
  background-color: #003976;
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 5px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-size: 0.9em;
  margin: 5px;
  padding: 10px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: flex;
  align-items: center;
  width: fit-content;
}

.toggle-explorer {
  margin-top: 10px;
}
.toggle-explorer_open {
  position: absolute;
  top: 10px;
  right: -35px;
}

.files-selected {
  /* position: absolute; */
  /* top: 5px;
  left: 5px;
  right: 5px;
  height: 20px; */
  z-index: 100;
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
  display: flex;
  background-color: green;
  justify-content: center;
  column-gap: 1rem;
  align-items: center;
  cursor: pointer;
  display: none;
}

.number-files {
  background-color: white;
  color: green;
  padding: 4px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 60%;
  font-weight: bolder;
  font-size: large;
}

.dataset-files {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  margin-left: 5%;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.proceed-button {
  background-color: #0069da;
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 5px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-size: 0.9em;
  margin: 5px;
  padding: 10px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: flex;
  align-items: center;
  width: fit-content;
}

.cancel-button {
  background-color: #da6d00;
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 5px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-size: 0.9em;
  margin: 5px;
  padding: 10px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: flex;
  align-items: center;
  width: fit-content;
}