.Viewer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Viewer input[type='file'] {
  width: 350px;
  max-width: 100%;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #555;
}

.Viewer .input-file::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.Viewer .input-file:hover::file-selector-button {
  background: #0d45a5;
}

.status {
  position: absolute;
  /* overflow-x: hidden; */
  right: 3%;
  bottom: 0;
}
